header{color:rgba(3, 255, 213, 0.774);
font-size: 190px;
text-align: center;
background-color: rgb(133, 76, 185)  ;
}


header:hover{color: rgb(1, 60, 255);}
body{background-color: rgb(191, 75, 226);}




body:hover{background-color: rgb(116, 231, 240);}



iframe{

height: 900px;
width: 900px;



}